#### 1. Import pandas library

In [14]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [15]:
import pymysql 
from sqlalchemy import create_engine
#import pymysql.cursors

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [16]:
connection = pymysql.connect(host='relational.fit.cvut.cz',
                             user='guest',
                             password='relational',                             
                             db='stats',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

#### 4. Import the users table

In [21]:
users = pd.read_sql_query("SELECT * FROM users", connection)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 5. Rename Id column to userId

In [53]:
users = users.rename(columns = {"Id": "userId"})
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [54]:
q1 = "SELECT * from posts"
posts = pd.read_sql_query(q1,connection)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId

In [62]:
posts = posts.rename(columns ={"OwnerUserId" : "userId", "Id":"postId"})
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [57]:
users.head()

,userId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

In [65]:
users2 = users[["userId", "Reputation", "Views", "UpVotes","DownVotes"]]
posts2 = posts[["postId","Score","userId","ViewCount","CommentCount"]]

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [73]:
merged = pd.merge(posts2,users, on = "userId")
merged.tail(1000)

,postId,Score,userId,ViewCount,CommentCount,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
89584,112255,0,54247.0,9.0,0,1,2014-08-18 02:17:03,Afrochum,2014-08-18 05:22:28,None,None,None,1,0,0,4903942,NaN,None
89585,112259,0,54199.0,45.0,4,15,2014-08-16 17:53:25,Tyrone Williams,2014-09-05 00:07:44,None,None,None,2,0,0,4899940,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89586,112712,1,54199.0,40.0,4,15,2014-08-16 17:53:25,Tyrone Williams,2014-09-05 00:07:44,None,None,None,2,0,0,4899940,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89587,113085,1,54199.0,18.0,1,15,2014-08-16 17:53:25,Tyrone Williams,2014-09-05 00:07:44,None,None,None,2,0,0,4899940,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89588,112261,0,54250.0,10.0,0,1,2014-08-18 04:42:37,Yasbel Isita Martínez,2014-08-18 04:42:37,None,None,None,3,0,0,4904241,NaN,http://graph.facebook.com/760508737/picture?ty...
89589,112267,2,54252.0,112.0,1,13,2014-08-18 06:18:07,user59419,2014-08-30 17:52:05,None,None,None,2,0,0,4776060,NaN,https://www.gravatar.com/avatar/0b7308da017991...
89590,112276,0,54254.0,17.0,0,16,2014-08-18 07:42:20,NickB2014,2014-09-12 14:26:13,None,None,None,0,0,0,4904833,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89591,114672,3,54254.0,54.0,0,16,2014-08-18 07:42:20,NickB2014,2014-09-12 14:26:13,None,None,None,0,0,0,4904833,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89592,115078,0,54254.0,NaN,0,16,2014-08-18 07:42:20,NickB2014,2014-09-12 14:26:13,None,None,None,0,0,0,4904833,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89593,112277,0,28080.0,33.0,1,1,2013-07-16 08:44:07,dfucci,2014-08-29 08:46:52,http://dfucci.co,Oulu,<p>Currently a Ph.D. student in Software Engin...,1,0,0,165871,29.0,None
89594,112278,0,54257.0,28.0,0,11,2014-08-18 08:49:34,Duran,2014-09-12 14:57:57,None,None,None,1,0,0,4905092,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89595,115266,2,54257.0,49.0,0,11,2014-08-18 08:49:34,Duran,2014-09-12 14:57:57,None,None,None,1,0,0,4905092,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89596,112279,1,54258.0,59.0,5,6,2014-08-18 09:20:21,user54258,2014-08-18 13:21:02,None,None,None,0,0,0,4905217,NaN,None
89597,112283,1,54261.0,8.0,0,6,2014-08-18 10:07:10,OregEmber,2014-08-25 20:20:24,None,None,None,0,0,0,4263487,NaN,https://www.gravatar.com/avatar/3b629422b83a41...
89598,112288,0,54263.0,29.0,0,1,2014-08-18 11:04:37,beginner,2014-08-19 11:38:28,None,None,None,0,0,0,4905612,NaN,None
89599,112290,1,54264.0,52.0,1,8,2014-08-18 11:08:34,John,2014-08-28 03:55:44,None,None,<p>CS master in the making and bodybuilder... ...,0,0,0,2892792,NaN,https://www.gravatar.com/avatar/3eb9543bf38b6a...
89600,112291,2,21448.0,38.0,0,111,2013-03-01 18:41:14,user1256923,2014-08-29 21:43:31,None,None,None,1,0,0,1308416,NaN,None
89601,112294,0,48243.0,30.0,7,5,2014-06-12 10:48:12,user3034939,2014-09-12 13:19:38,None,None,None,1,0,0,3640820,NaN,https://www.gravatar.com/avatar/2f478a7f4fe387...
89602,113963,0,48243.0,21.0,0,5,2014-06-12 10:48:12,user3034939,2014-09-12 13:19:38,None,None,None,1,0,0,3640820,NaN,https://www.gravatar.com/avatar/2f478a7f4fe387...
89603,114337,0,48243.0,41.0,5,5,2014-06-12 10:48:12,user3034939,2014-09-12 13:19:38,None,None,None,1,0,0,3640820,NaN,https://www.gravatar.com/avatar/2f478a7f4fe387...
89604,112296,0,54265.0,14.0,1,1,2014-08-18 11:44:02,helenat29,2014-08-18 18:24:32,None,None,None,0,0,0,4905753,NaN,None
89605,112301,0,54266.0,7.0,0,1,2014-08-18 12:32:30,user54266,2014-09-03 21:09:50,None,None,None,0,0,0,4905954,NaN,None
89606,112306,1,54268.0,21.0,1,6,2014-08-18 13:00:22,Georgi,2014-08-19 11:49:56,None,None,None,0,0,0,4906060,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89607,112309,1,54271.0,9.0,1,6,2014-08-18 13:52:55,Christoph,2014-08-19 10:26:58,None,None,None,0,0,0,4906280,NaN,https://www.gravatar.com/avatar/871364d3f110aa...
89608,112324,0,54274.0,17.0,1,1,2014-08-18 15:15:44,Kelly,2014-08-18 20:53:40,None,None,None,0,0,0,4906686,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
89609,112330,0,54270.0,17.0,2,1,2014-08-18 13:42:00,mgreschke,2014-08-20 11:48:55,None,Berlin,None,0,0,0,1881921,NaN,https://www.gravatar.com/avatar/104078a4805b00...
89610,112348,0,54277.0,28.0,1,1,2014-08-18 17:16:17,Dan,2014-08-20 14:32:16,None,None,None,7,0,0,4891957,NaN,https://www.gravatar.com/avatar/dfef9d1e1c2195...
89611,112349,4,52811.0,58.0,1,123,2014-07-25 16:49:33,ivanmp,2014-08-27 16:22:40,None,None,None,0,17,0,240697,NaN,https://www.gravatar.com/avatar/0976ef2bca6ab4...
89612,112350,0,48222.0,NaN,0,1,2014-06-12 03:23:56,mapsa,2014-08-29 19:52:18,None,None,<p>Computer Science PhD student at UTFSM</p>\n,2,0,0,2807155,NaN,http://i.stack.imgur.com/BFEvc.jpg?s=128&g=1
89613,112355,0,48222.0,24.0,0,1,2014-06-12 03:23:56,mapsa,2014-08-29 19:52:18,None,None,<p>Computer Science PhD student at UTFSM</p>\n,2,0,0,2807155,NaN,http://i.stack.imgur.com/BFEvc.jpg?s=128&g=1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90554,115285,0,55697.0,22.0,4,1,2014-09-12 16:24:30,Edimbra,2014-09-13 09:42:26,None,None,None,0,0,0,5022491,NaN,https://www.gravatar.com/avatar/c7881c8ba2a5c8...
90555,115287,1,55699.0,23.0,6,6,2014-09-12 17:26:43,failedstudent,2014-09-13 19:39:55,None,None,None,0,0,0,5022766,NaN,None
90556,115291,5,55702.0,29.0,1,26,2014-09-12 18:13:44,AMG,2014-09-12 18:13:44,None,None,None,1,0,0,5022953,NaN,None
90557,115292,2,48622.0,NaN,0,21,2014-06-18 22:58:20,marcodena,2014-09-12 19:07:50,None,None,None,0,1,0,3399912,NaN,https://www.gravatar.com/avatar/24410e924c0e7e...
90558,115295,0,53248.0,NaN,0,101,2014-08-01 18:05:35,Jerome Baum,2014-09-12 18:40:53,None,None,None,0,0,0,93793,NaN,https://www.gravatar.com/avatar/49594bd3f61e3c...
90559,115298,1,54582.0,8.0,0,106,2014-08-23 21:40:59,t.pimentel,2014-09-12 20:14:04,None,Brazil,None,0,0,0,3970982,23.0,https://www.gravatar.com/avatar/ef2c27d8b4dc9c...
90560,115312,0,55709.0,6.0,0,1,2014-09-12 22:21:49,Sam,2014-09-12 22:21:49,None,None,None,0,0,0,5023747,NaN,https://www.gravatar.com/avatar/2d103e73ede4cf...
90561,115313,0,55710.0,18.0,4,1,2014-09-12 22:43:36,rmehta1987,2014-09-12 23:42:48,None,None,None,0,0,0,3768680,NaN,https://www.gravatar.com/avatar/34f361d60f4a9c...
90562,115315,1,55713.0,36.0,2,6,2014-09-13 00:01:13,Alex Spangher,2014-09-13 01:05:33,None,None,None,0,0,0,2346002,NaN,https://www.gravatar.com/avatar/d3ff258f07d607...
90563,115316,1,55714.0,20.0,3,6,2014-09-13 00:31:44,dean,2014-09-13 08:31:02,None,None,None,0,0,0,5024006,NaN,None
90564,115321,1,55715.0,9.0,0,6,2014-09-13 02:46:40,Alex,2014-09-13 02:46:40,None,None,None,0,0,0,5024218,NaN,None
90565,115327,1,55718.0,25.0,0,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,None,None,None,0,0,0,5024818,NaN,None
90566,115328,0,55719.0,10.0,0,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,None,None,None,1,0,0,5024833,NaN,None
90567,115331,0,55720.0,12.0,1,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,None,None,None,0,0,0,5024897,NaN,https://www.gravatar.com/avatar/2bc72d263cc5a8...
90568,115335,3,55724.0,19.0,1,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,None,None,<p>I'm a self-taught programmer and linux powe...,1,0,0,3620179,NaN,https://www.gravatar.com/avatar/1f8dbbc900087e...
90569,115338,0,55729.0,NaN,0,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,None,None,None,1,0,0,5025362,NaN,None
90570,115340,0,55730.0,18.0,1,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,None,None,None,0,0,0,5025477,NaN,None
90571,115348,0,55564.0,18.0,3,101,2014-09-10 21:42:36,Dabblernl,2014-09-13 21:18:59,http://www.bridgemate.com,Netherlands,<p>MCTS in Windows Presentation Foundation sin...,0,1,0,37896,51.0,https://www.gravatar.com/avatar/176fcb7e1c5e57...
90572,115350,0,55731.0,3.0,0,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,None,None,None,0,0,0,5025991,NaN,None
90573,115351,1,7331.0,9.0,0,6,2011-11-11 17:15:45,mdiscenza,2014-09-13 15:27:00,None,"New York, NY",<p>A Columbia Statistics Major.</p>\n,2,0,0,1034490,NaN,None
90574,115352,0,55734.0,16.0,0,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,None,None,None,0,0,0,5026094,NaN,None
90575,115356,1,55733.0,15.0,0,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,None,None,None,1,0,0,5026082,NaN,https://www.gravatar.com/avatar/d9b1e7660eb8ed...
90576,115360,2,55738.0,40.0,4,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,None,None,None,0,0,0,5026468,NaN,None
90577,115361,0,55383.0,12.0,1,1,2014-09-08 00:10:03,user2948246,2014-09-13 20:16:19,None,None,<p>Please delete me</p>\n,0,0,0,3527597,NaN,https://www.gravatar.com/avatar/738b86a6f3ec90...
90578,115364,0,52858.0,11.0,3,101,2014-07-26 17:13:34,Daniel,2014-09-13 21:26:40,None,None,None,2,1,0,103108,NaN,https://www.gravatar.com/avatar/c7152460e37374...
90579,115366,1,55742.0,17.0,0,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,None,None,None,0,0,0,5026843,NaN,None
90580,115370,1,55744.0,13.0,2,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,None,None,None,1,0,0,5026998,NaN,None
90581,115371,0,35801.0,19.0,0,1,2013-12-07 00:29:41,Robbie,2014-09-14 01:52:01,None,None,None,1,0,0,3525646,NaN,https://www.gravatar.com/avatar/?s=128&d=ident...
90582,115375,0,49365.0,9.0,0,1,2014-07-02 09:25:36,Leonidas Kapsokalivas,2014-09-13 23:55:06,http://uk.linkedin.com/in/leonidasphd/,London,<p>Front-end and back-end developer on real ti...,0,0,0,4641129,NaN,http://graph.facebook.com/651010106/picture?ty...
90583,115376,1,55746.0,5.0,2,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,None,None,"<p>Stats noobie, product, marketing &amp; medi...",1,0,0,976289,NaN,https://www.gravatar.com/avatar/6d9e9fa6b783a3...

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [69]:
#check is null 
merged.isnull().sum()

postId                 0
Score                  0
userId                 0
ViewCount          48396
CommentCount           0
Reputation             0
CreationDate           0
DisplayName            0
LastAccessDate         0
WebsiteUrl         58513
Location           50132
AboutMe            48900
Views                  0
UpVotes                0
DownVotes              0
AccountId              0
Age                63780
ProfileImageUrl    66521
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [112]:
null_cols = merged.isnull().sum()

n2 = list(null_cols[null_cols > 5000].index)
n3 = merged.drop(n2, axis=1 )
print(n2)
n3

['ViewCount', 'WebsiteUrl', 'Location', 'AboutMe', 'Age', 'ProfileImageUrl']

,postId,Score,userId,CommentCount,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId
0,1,23,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
1,16,16,8.0,3,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
2,36,41,8.0,7,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
3,65,14,8.0,3,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
4,78,33,8.0,4,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
5,111,8,8.0,3,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
6,114,30,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
7,129,4,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
8,142,5,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
9,168,17,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
10,170,56,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
11,254,4,8.0,3,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
12,262,13,8.0,7,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
13,271,7,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
14,301,6,8.0,7,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
15,352,1,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
16,356,2,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
17,397,5,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
18,412,4,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
19,432,96,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
20,845,5,8.0,4,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
21,851,4,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
22,855,1,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
23,895,2,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
24,975,2,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
25,978,3,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
26,981,6,8.0,11,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
27,1010,8,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
28,1131,4,8.0,0,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
29,1132,4,8.0,1,6764,2010-07-19 19:04:52,csgillespie,2014-09-09 21:15:08,1089,604,25,70002
...,...,...,...,...,...,...,...,...,...,...,...,...
90554,115285,0,55697.0,4,1,2014-09-12 16:24:30,Edimbra,2014-09-13 09:42:26,0,0,0,5022491
90555,115287,1,55699.0,6,6,2014-09-12 17:26:43,failedstudent,2014-09-13 19:39:55,0,0,0,5022766
90556,115291,5,55702.0,1,26,2014-09-12 18:13:44,AMG,2014-09-12 18:13:44,1,0,0,5022953
90557,115292,2,48622.0,0,21,2014-06-18 22:58:20,marcodena,2014-09-12 19:07:50,0,1,0,3399912
90558,115295,0,53248.0,0,101,2014-08-01 18:05:35,Jerome Baum,2014-09-12 18:40:53,0,0,0,93793
90559,115298,1,54582.0,0,106,2014-08-23 21:40:59,t.pimentel,2014-09-12 20:14:04,0,0,0,3970982
90560,115312,0,55709.0,0,1,2014-09-12 22:21:49,Sam,2014-09-12 22:21:49,0,0,0,5023747
90561,115313,0,55710.0,4,1,2014-09-12 22:43:36,rmehta1987,2014-09-12 23:42:48,0,0,0,3768680
90562,115315,1,55713.0,2,6,2014-09-13 00:01:13,Alex Spangher,2014-09-13 01:05:33,0,0,0,2346002
90563,115316,1,55714.0,3,6,2014-09-13 00:31:44,dean,2014-09-13 08:31:02,0,0,0,5024006
90564,115321,1,55715.0,0,6,2014-09-13 02:46:40,Alex,2014-09-13 02:46:40,0,0,0,5024218
90565,115327,1,55718.0,0,6,2014-09-13 07:12:49,Amena,2014-09-13 07:12:49,0,0,0,5024818
90566,115328,0,55719.0,0,1,2014-09-13 07:19:09,OGUNNUSI OLUWATOBI,2014-09-13 08:03:19,1,0,0,5024833
90567,115331,0,55720.0,1,1,2014-09-13 08:00:08,Rebecca,2014-09-13 08:00:08,0,0,0,5024897
90568,115335,3,55724.0,1,16,2014-09-13 09:50:11,ouroboros,2014-09-13 10:05:17,1,0,0,3620179
90569,115338,0,55729.0,0,16,2014-09-13 11:04:54,Achim Zeileis,2014-09-13 12:15:21,1,0,0,5025362
90570,115340,0,55730.0,1,1,2014-09-13 12:01:38,quants_mum,2014-09-13 12:01:38,0,0,0,5025477
90571,115348,0,55564.0,3,101,2014-09-10 21:42:36,Dabblernl,2014-09-13 21:18:59,0,1,0,37896
90572,115350,0,55731.0,0,1,2014-09-13 15:23:34,Kiran BM,2014-09-13 20:51:55,0,0,0,5025991
90573,115351,1,7331.0,0,6,2011-11-11 17:15:45,mdiscenza,2014-09-13 15:27:00,2,0,0,1034490
90574,115352,0,55734.0,0,1,2014-09-13 15:56:55,jalen,2014-09-13 15:56:55,0,0,0,5026094
90575,115356,1,55733.0,0,6,2014-09-13 15:51:18,Pax,2014-09-13 23:57:22,1,0,0,5026082
90576,115360,2,55738.0,4,11,2014-09-13 18:06:50,guest,2014-09-14 01:34:01,0,0,0,5026468
90577,115361,0,55383.0,1,1,2014-09-08 00:10:03,user2948246,2014-09-13 20:16:19,0,0,0,3527597
90578,115364,0,52858.0,3,101,2014-07-26 17:13:34,Daniel,2014-09-13 21:26:40,2,1,0,103108
90579,115366,1,55742.0,0,6,2014-09-13 20:36:55,Sayan Ghosh,2014-09-13 22:04:00,0,0,0,5026843
90580,115370,1,55744.0,2,6,2014-09-13 21:39:30,Mia Maria,2014-09-13 21:39:30,1,0,0,5026998
90581,115371,0,35801.0,0,1,2013-12-07 00:29:41,Robbie,2014-09-14 01:52:01,1,0,0,3525646
90582,115375,0,49365.0,0,1,2014-07-02 09:25:36,Leonidas Kapsokalivas,2014-09-13 23:55:06,0,0,0,4641129
90583,115376,1,55746.0,2,106,2014-09-14 00:29:41,GPP,2014-09-14 02:05:17,1,0,0,976289

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [124]:
merged["postId"] = merged["postId"].astype("object")
merged["userId"] = merged["userId"].astype("object")

object
object

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.