# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset.

In [2]:
# Run this code:

admissions = pd.read_csv('../Admission_Predict.csv')
#to remove trailing spaces at the end of the column names
admissions.columns = admissions.columns.str.rstrip()

Let's evaluate the dataset by looking at the `head` function.

In [3]:
# Your code here:

admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [4]:
# Your code here:
admissions.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [5]:
# Your code here:
admissions.set_index("Serial No.", inplace = True)

In [6]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [7]:
# Your code here:
admissions["GRE & CGPA"] = admissions["GRE Score"].map(str)+ " | " +admissions["CGPA"].map(str)

In [8]:
admissions.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit,GRE & CGPA
Serial No.,,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92,337 | 9.65
2,316,104,3,3.0,3.5,8.00,1,0.72,316 | 8.0
3,322,110,3,3.5,2.5,8.67,1,0.80,322 | 8.67
4,314,103,2,2.0,3.0,8.21,0,0.65,314 | 8.21
5,330,115,5,4.5,3.0,9.34,1,0.90,330 | 9.34

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [9]:
#saving these for later use.. 
gre = admissions["GRE Score"]
cgpa = admissions["CGPA"]
admissions = admissions.drop(columns = ["GRE Score","CGPA"])

In [10]:
admissions = admissions.set_index("GRE & CGPA")

In [11]:
admissions.head()

,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
GRE & CGPA,,,,,,
337 | 9.65,118,4,4.5,4.5,1,0.92
316 | 8.0,104,3,3.0,3.5,1,0.72
322 | 8.67,110,3,3.5,2.5,1,0.80
314 | 8.21,103,2,2.0,3.0,0,0.65
330 | 9.34,115,5,4.5,3.0,1,0.90

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [12]:
# Your code here:
admissions.reset_index(inplace=True)

In [13]:
admissions.head()

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,337 | 9.65,118,4,4.5,4.5,1,0.92
1,316 | 8.0,104,3,3.0,3.5,1,0.72
2,322 | 8.67,110,3,3.5,2.5,1,0.80
3,314 | 8.21,103,2,2.0,3.0,0,0.65
4,330 | 9.34,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [14]:
# Your code here:
cgpa = cgpa.reset_index()
gre = gre.reset_index()

In [15]:
cgpa = cgpa.drop(columns = "Serial No.")
gre = gre.drop(columns = "Serial No.")

In [16]:
admissions["CGPA"] = cgpa

In [17]:
admissions["GRE"] = gre

In [18]:
admissions.query("CGPA > 9")

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE
0,337 | 9.65,118,4,4.5,4.5,1,0.92,9.65,337
4,330 | 9.34,115,5,4.5,3.0,1,0.90,9.34,330
10,328 | 9.1,112,4,4.0,4.5,1,0.78,9.10,328
19,328 | 9.5,116,5,5.0,5.0,1,0.94,9.50,328
20,334 | 9.7,119,5,5.0,4.5,1,0.95,9.70,334
21,336 | 9.8,119,5,4.0,3.5,1,0.97,9.80,336
28,338 | 9.4,118,4,3.0,4.5,1,0.91,9.40,338
29,340 | 9.6,114,5,4.0,4.0,1,0.90,9.60,340
30,331 | 9.8,112,5,4.0,5.0,1,0.94,9.80,331
31,320 | 9.2,110,5,5.0,5.0,1,0.88,9.20,320
39,332 | 9.1,117,4,4.5,4.0,0,0.87,9.10,332
40,326 | 9.4,113,5,4.5,4.0,1,0.91,9.40,326
41,322 | 9.1,110,5,5.0,4.0,1,0.88,9.10,322
42,329 | 9.3,114,5,4.0,5.0,1,0.86,9.30,329
43,339 | 9.7,119,5,4.5,4.0,0,0.89,9.70,339
62,327 | 9.02,114,3,3.0,3.0,0,0.61,9.02,327
64,318 | 9.22,109,3,3.5,4.0,1,0.68,9.22,318
65,328 | 9.16,115,4,4.5,4.0,1,0.78,9.16,328
66,332 | 9.64,118,5,5.0,5.0,1,0.94,9.64,332
67,336 | 9.76,112,5,5.0,5.0,1,0.96,9.76,336
68,321 | 9.45,111,5,5.0,5.0,1,0.93,9.45,321
69,314 | 9.04,108,4,4.5,4.0,1,0.84,9.04,314
77,340 | 9.5,120,4,5.0,5.0,1,0.96,9.50,340
78,320 | 9.22,110,5,5.0,4.5,1,0.92,9.22,320
79,322 | 9.36,115,5,4.0,4.5,1,0.92,9.36,322
80,340 | 9.45,115,5,4.5,4.5,1,0.94,9.45,340
93,332 | 9.24,119,4,5.0,4.5,1,0.90,9.24,332
99,326 | 9.05,112,3,3.5,3.0,1,0.74,9.05,326
101,329 | 9.18,111,4,4.5,4.5,1,0.87,9.18,329
102,338 | 9.46,117,4,3.5,4.5,1,0.91,9.46,338
...,...,...,...,...,...,...,...,...,...
246,331 | 9.34,119,4,5.0,4.5,1,0.90,9.34,331
247,327 | 9.13,108,5,5.0,3.5,1,0.87,9.13,327
255,327 | 9.14,113,4,4.5,5.0,0,0.83,9.14,327
263,329 | 9.45,113,5,5.0,4.5,1,0.89,9.45,329
268,317 | 9.11,110,3,4.0,4.5,1,0.80,9.11,317
271,340 | 9.66,112,4,5.0,4.5,1,0.94,9.66,340
272,331 | 9.26,116,5,4.0,4.0,1,0.93,9.26,331
273,336 | 9.19,118,5,4.5,4.0,1,0.92,9.19,336
274,324 | 9.08,114,5,5.0,4.5,1,0.89,9.08,324
275,314 | 9.02,104,4,5.0,5.0,0,0.82,9.02,314
284,320 | 9.11,120,3,4.0,4.5,0,0.86,9.11,320
285,330 | 9.24,114,3,4.5,4.5,1,0.90,9.24,330
293,323 | 9.1,110,3,4.0,3.5,1,0.79,9.10,323
298,328 | 9.18,108,4,4.5,4.0,1,0.84,9.18,328
311,326 | 9.14,116,3,3.5,4.0,1,0.81,9.14,326
322,332 | 9.47,118,5,5.0,5.0,1,0.94,9.47,332
346,334 | 9.54,116,4,4.0,3.5,1,0.93,9.54,334
347,338 | 9.23,115,5,4.5,5.0,1,0.91,9.23,338
350,330 | 9.17,114,4,4.5,3.0,1,0.86,9.17,330
356,324 | 9.22,110,3,3.5,3.0,1,0.89,9.22,324
357,336 | 9.62,119,4,4.5,4.0,1,0.95,9.62,336
367,324 | 9.15,110,4,4.5,4.0,1,0.82,9.15,324
369,340 | 9.74,113,4,5.0,5.0,1,0.96,9.74,340
370,335 | 9.82,117,5,5.0,5.0,1,0.96,9.82,335
377,326 | 9.12,112,4,4.0,3.5,1,0.84,9.12,326
379,329 | 9.23,111,4,4.5,4.0,1,0.89,9.23,329
380,324 | 9.04,110,3,3.5,3.5,1,0.82,9.04,324
381,325 | 9.11,107,3,3.0,3.5,1,0.84,9.11,325
382,330 | 9.45,116,4,5.0,4.5,1,0.91,9.45,330
384,333 | 9.66,117,4,5.0,4.0,1,0.95,9.66,333

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [19]:
# Your code here:
admissions.query("CGPA > 9" and "SOP < 3.5")

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE
1,316 | 8.0,104,3,3.0,3.5,1,0.72,8.00,316
3,314 | 8.21,103,2,2.0,3.0,0,0.65,8.21,314
5,321 | 8.2,109,3,3.0,4.0,1,0.75,8.20,321
6,308 | 7.9,101,2,3.0,4.0,0,0.68,7.90,308
7,302 | 8.0,102,1,2.0,1.5,0,0.50,8.00,302
18,325 | 8.4,114,4,3.0,2.0,0,0.70,8.40,325
23,298 | 7.5,98,2,1.5,2.5,1,0.44,7.50,298
24,295 | 7.2,93,1,2.0,2.0,0,0.46,7.20,295
25,310 | 7.3,99,2,1.5,2.0,0,0.54,7.30,310
26,300 | 8.1,97,2,3.0,3.0,1,0.65,8.10,300
28,338 | 9.4,118,4,3.0,4.5,1,0.91,9.40,338
33,300 | 7.8,105,1,1.0,2.0,0,0.58,7.80,300
34,304 | 7.5,105,1,3.0,1.5,0,0.52,7.50,304
37,316 | 8.2,105,2,2.5,2.5,1,0.49,8.20,316
38,313 | 8.5,107,2,2.5,2.0,1,0.53,8.50,313
45,327 | 8.4,111,4,3.0,4.0,1,0.78,8.40,327
46,313 | 8.3,98,3,2.5,4.5,1,0.76,8.30,313
47,312 | 7.9,100,2,1.5,3.5,1,0.56,7.90,312
50,322 | 8.0,110,3,3.0,3.5,0,0.70,8.00,322
51,320 | 7.7,103,3,3.0,3.0,0,0.64,7.70,320
52,316 | 7.4,102,3,2.0,3.0,0,0.64,7.40,316
54,300 | 6.8,99,1,3.0,2.0,1,0.36,6.80,300
55,311 | 8.3,104,2,2.0,2.0,0,0.42,8.30,311
56,309 | 8.1,100,2,3.0,3.0,0,0.48,8.10,309
58,304 | 8.2,105,2,3.0,3.0,1,0.54,8.20,304
60,325 | 8.7,111,3,3.0,3.5,0,0.52,8.70,325
62,327 | 9.02,114,3,3.0,3.0,0,0.61,9.02,327
70,314 | 8.9,106,3,3.0,5.0,0,0.74,8.90,314
71,329 | 8.56,114,2,2.0,4.0,1,0.72,8.56,329
72,327 | 8.72,112,3,3.0,3.0,1,0.74,8.72,327
...,...,...,...,...,...,...,...,...,...
332,299 | 7.34,94,1,1.0,1.0,0,0.42,7.34,299
333,302 | 7.25,99,1,2.0,2.0,0,0.57,7.25,302
334,313 | 8.04,101,3,2.5,3.0,0,0.62,8.04,313
335,318 | 8.27,107,3,3.0,3.5,1,0.74,8.27,318
337,303 | 8.06,100,2,3.0,3.5,1,0.64,8.06,303
339,297 | 7.67,98,2,2.5,3.0,0,0.59,7.67,297
340,317 | 8.12,106,2,2.0,3.5,0,0.73,8.12,317
343,314 | 7.64,105,2,2.5,2.0,0,0.70,7.64,314
344,321 | 8.44,107,2,2.0,1.5,0,0.81,8.44,321
348,306 | 8.36,103,2,2.5,3.0,0,0.69,8.36,306
352,311 | 7.46,98,1,1.0,2.5,0,0.57,7.46,311
353,298 | 7.88,92,1,2.0,2.0,0,0.51,7.88,298
354,301 | 8.03,98,1,2.0,3.0,1,0.67,8.03,301
355,310 | 8.24,103,2,2.5,2.5,0,0.72,8.24,310
358,321 | 8.54,109,3,3.0,3.0,1,0.79,8.54,321
359,315 | 7.65,105,2,2.0,2.5,0,0.39,7.65,315
360,304 | 7.66,101,2,2.0,2.5,0,0.38,7.66,304
361,297 | 7.43,96,2,2.5,2.0,0,0.34,7.43,297
362,290 | 7.56,100,1,1.5,2.0,0,0.47,7.56,290
363,303 | 7.65,98,1,2.0,2.5,0,0.56,7.65,303
364,311 | 8.43,99,1,2.5,3.0,1,0.71,8.43,311
366,319 | 8.67,105,3,3.0,3.5,1,0.73,8.67,319
368,300 | 8.26,100,3,3.0,3.5,0,0.62,8.26,300
371,302 | 7.96,101,2,2.5,3.5,0,0.46,7.96,302
372,307 | 8.1,105,2,2.0,3.5,0,0.53,8.10,307
373,296 | 7.8,97,2,1.5,2.0,0,0.49,7.80,296
375,314 | 8.24,102,2,2.0,2.5,0,0.64,8.24,314
376,318 | 8.65,106,3,2.0,3.0,0,0.71,8.65,318
378,317 | 8.76,104,2,3.0,3.0,0,0.77,8.76,317
381,325 | 9.11,107,3,3.0,3.5,1,0.84,9.11,325

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [20]:
from statistics import stdev

def standardize(col):
    # This function takes a column from a dataframe and returns a standardized column by subtracting the column's mean
    # and dividing by the column's standard deviation.
   
    standard_col = (col - np.mean(col))/np.std(col)
    return standard_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [21]:
# Your code here:
admissions["CGPA_std"]= standardize(admissions["CGPA"])
admissions["GRE_std"] = standardize(admissions["GRE"])
admissions["LOR_std"] = standardize(admissions["LOR"])

admissions.head()

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE,CGPA_std,GRE_std,LOR_std
0,337 | 9.65,118,4,4.5,4.5,1,0.92,9.65,337,1.750174,1.755663,1.193197
1,316 | 8.0,104,3,3.0,3.5,1,0.72,8.00,316,-0.992501,-0.063450,0.076840
2,322 | 8.67,110,3,3.5,2.5,1,0.80,8.67,322,0.121191,0.456297,-1.039517
3,314 | 8.21,103,2,2.0,3.0,0,0.65,8.21,314,-0.643433,-0.236698,-0.481338
4,330 | 9.34,115,5,4.5,3.0,1,0.90,9.34,330,1.234884,1.149292,-0.481338

We will generate the decision choice at random using the code below. Please run the cell.

In [22]:
# Run this code:

from random import choices
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [23]:
# Your code here:

deciding_column = admissions.lookup(admissions.index, decision_choice)
admissions["deciding_column"] = deciding_column
admissions.head()

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE,CGPA_std,GRE_std,LOR_std,deciding_column
0,337 | 9.65,118,4,4.5,4.5,1,0.92,9.65,337,1.750174,1.755663,1.193197,1.750174
1,316 | 8.0,104,3,3.0,3.5,1,0.72,8.00,316,-0.992501,-0.063450,0.076840,0.076840
2,322 | 8.67,110,3,3.5,2.5,1,0.80,8.67,322,0.121191,0.456297,-1.039517,0.456297
3,314 | 8.21,103,2,2.0,3.0,0,0.65,8.21,314,-0.643433,-0.236698,-0.481338,-0.236698
4,330 | 9.34,115,5,4.5,3.0,1,0.90,9.34,330,1.234884,1.149292,-0.481338,1.234884

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [24]:
# Your code here:
admissions["decision"] = np.where(admissions["deciding_column"]>.8,1,0)
admissions.head()

,GRE & CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit,CGPA,GRE,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337 | 9.65,118,4,4.5,4.5,1,0.92,9.65,337,1.750174,1.755663,1.193197,1.750174,1
1,316 | 8.0,104,3,3.0,3.5,1,0.72,8.00,316,-0.992501,-0.063450,0.076840,0.076840,0
2,322 | 8.67,110,3,3.5,2.5,1,0.80,8.67,322,0.121191,0.456297,-1.039517,0.456297,0
3,314 | 8.21,103,2,2.0,3.0,0,0.65,8.21,314,-0.643433,-0.236698,-0.481338,-0.236698,0
4,330 | 9.34,115,5,4.5,3.0,1,0.90,9.34,330,1.234884,1.149292,-0.481338,1.234884,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [34]:
# Your code here:
admissions["decision"].value_counts()

#85 applicants got in

0    301
1     84
Name: decision, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [1]:
# Your code here:

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# Your code here: